@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Orbitron:500,600,700&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2"),url(../fonts/icons.woff) format("woff");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]:before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
[class*=_icon-]:before {
  display: block
}
._icon-play3:before {
  content: "\ea1c"
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Poppins;
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Poppins;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.button {
  display: inline-flex;
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-weight: 500;
  border-radius: .3125rem;
  transition: opacity .3s
}
.button--bg {
  background: linear-gradient(125deg,#d10ed1 0,#10a3da 100%)
}
.button--border {
  background: linear-gradient(90deg,#d10ed1 0,#10a3da 100%);
  position: relative;
  z-index: 1
}
.button--border::before {
  content: "";
  position: absolute;
  top: .0625rem;
  left: .0625rem;
  right: .0625rem;
  bottom: .0625rem;
  background: linear-gradient(180deg,#010208 16.39%,#010206 20.51%,#040008 24.79%,#010101 30.46%,#010101 34.11%,#010101 36.21%,#010101 100%);
  border-radius: .25rem;
  z-index: -1
}
.button--fw {
  width: 100%
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  row-gap: .5rem
}
.menu__link {
  font-size: 1rem;
  transition: opacity .3s,-webkit-transform .3s;
  transition: transform .3s,opacity .3s;
  transition: transform .3s,opacity .3s,-webkit-transform .3s
}
.menu__link.active {
  background: linear-gradient(158deg,#f86cf8 0,#64cef5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: Orbitron
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #010206;
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
  transition: padding-top .5s,padding-bottom .5s
}
.header._header-scroll {
  padding-top: 1.375rem;
  padding-bottom: 1.375rem
}
.header__container {
  display: flex;
  gap: 1rem
}
.header__logo {
  font-family: Orbitron;
  font-weight: 700;
  font-size: 1.375rem
}
.header__menu {
  flex: 1 1 100%;
  display: flex;
  justify-content: flex-end
}
.footer {
  background-color: #090823
}
.footer__container {
  display: grid;
  grid-template-columns: 43.75% 55%;
  -webkit-column-gap: 1.25%;
  -moz-column-gap: 1.25%;
  column-gap: 1.25%
}
.footer__logo-block {
  display: flex;
  flex-direction: column;
  gap: 1.5rem
}
.footer__logo-lonk {
  font-family: Orbitron;
  font-weight: 700;
  background: linear-gradient(158deg,#f86cf8 0,#64cef5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
.footer__subtitle {
  line-height: 1.67
}
.footer__navigation {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem
}
.item-footer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem
}
.item-footer__title {
  font-family: Orbitron;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.25rem
}
.item-footer__list {
  display: flex;
  gap: .5rem
}
.item-footer__list--col {
  flex-direction: column
}
.item-footer__link {
  transition: opacity .3s
}
.page {
  background: linear-gradient(180deg,#010208 16.39%,#010206 20.51%,#040008 24.79%,#010101 30.46%,#010101 34.11%,#010101 36.21%,#010101 100%);
  padding-top: 10.3125rem
}
.main__container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: .625rem
}
.main__content {
  overflow: hidden
}
.main__content .info-block__title {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%)
}
.main__content .info-block__title._watcher-view {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition-delay: 2s;
  transition-duration: 1s
}
.main__content .info-block__subtitle {
  max-width: 32.5rem;
  width: 100%;
  opacity: 0
}
.main__content .info-block__subtitle._watcher-view {
  opacity: 1;
  transition-delay: 3s;
  transition-duration: 1.5s
}
.main__content .info-block__btn-block {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%)
}
.main__content .info-block__btn-block._watcher-view {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition-delay: 3.5s;
  transition-duration: 1s
}
.main__image-block {
  aspect-ratio: 566/568;
  position: relative;
  -webkit-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: scale(.001);
  transform: scale(.001)
}
.main__image-block._watcher-view {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition-delay: 1s;
  transition-duration: 1.8s
}
.what {
  -webkit-transform: translateY(100%);
  transform: translateY(100%)
}
.what._watcher-view {
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.what__container {
  display: flex;
  gap: 1.25rem
}
.what__image {
  flex: 1 1 auto;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: scale(.001);
  transform: scale(.001)
}
.what__image._watcher-view {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition-delay: 1s;
  transition-duration: 1.8s
}
.what__content {
  max-width: 32.75rem;
  overflow: hidden
}
.what__content .info-block__title {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%)
}
.what__content .info-block__title._watcher-view {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition-delay: 2s;
  transition-duration: 1s
}
.what__content .info-block__subtitle {
  opacity: 0
}
.what__content .info-block__subtitle._watcher-view {
  opacity: 1;
  transition-delay: 3s;
  transition-duration: 1.5s
}
.what__content .info-block__btn-block {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%)
}
.what__content .info-block__btn-block._watcher-view {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition-delay: 3.5s;
  transition-duration: 1s
}
.border-block {
  position: relative;
  display: flex;
  align-items: start;
  background-color: transparent
}
.border-block__left {
  position: relative;
  aspect-ratio: 302/317;
  padding: .625rem;
  border-bottom-left-radius: 3.125rem;
  border-top-right-radius: 3.125rem
}
.border-block__left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-bottom-left-radius: 3.125rem;
  border-top-right-radius: 3.125rem;
  background: linear-gradient(158.4deg,#d10ed1 10.9%,#10a3da 88.221%)
}
.border-block__left::after {
  content: "";
  position: absolute;
  width: 99%;
  height: 99%;
  top: .5%;
  left: .7%;
  background: #000;
  z-index: 1;
  border-bottom-left-radius: 3.125rem;
  border-top-right-radius: 3.125rem
}
.border-block__left img {
  aspect-ratio: 282/297;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 3%;
  left: 3%;
  z-index: 2;
  overflow: hidden;
  width: 94%;
  height: 94%;
  -o-object-fit: cover;
  object-fit: cover;
  border-bottom-left-radius: 2.8125rem;
  border-top-right-radius: 2.8125rem
}
.border-block__right {
  position: relative;
  aspect-ratio: 312/327;
  border-bottom-right-radius: 3.125rem;
  border-top-left-radius: 3.125rem
}
.border-block__right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(158.4deg,#8c43d4 10.9%,#10a3da 88.221%);
  border-bottom-right-radius: 2.8125rem;
  border-top-left-radius: 2.8125rem
}
.border-block__right::after {
  content: "";
  position: absolute;
  width: 99%;
  height: 99%;
  top: .5%;
  left: .7%;
  background: #000;
  border-bottom-right-radius: 2.8125rem;
  border-top-left-radius: 2.8125rem
}
.border-block__right img {
  aspect-ratio: 282/297;
  position: absolute;
  width: 94%;
  height: 94%;
  top: 3%;
  left: 3%;
  z-index: 2;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
  border-bottom-right-radius: 2.8125rem;
  border-top-left-radius: 2.8125rem
}
.works__container {
  display: grid
}
.works__content {
  overflow: hidden
}
.works__content .info-block__title {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%)
}
.works__content .info-block__title._watcher-view {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition-delay: 2s;
  transition-duration: 1s
}
.works__content .info-block__subtitle {
  max-width: 36.5625rem;
  width: 100%;
  opacity: 0
}
.works__content .info-block__subtitle._watcher-view {
  opacity: .8;
  transition-delay: 3s;
  transition-duration: 1.5s
}
.works__items {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(320px,1fr))
}
.item-work {
  background-color: #090823;
  padding: 1.125rem 1.25rem 2.25rem 1.125rem;
  border-radius: 0 1.875rem 0 1.875rem;
  opacity: 0
}
.item-work._watcher-view {
  opacity: 1;
  transition-duration: 1.3s;
  transition-delay: .8s
}
.item-work__body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem
}
.item-work__picture-block {
  aspect-ratio: 335/217;
  width: 100%;
  border-radius: 0 .9375rem 0 0;
  overflow: hidden
}
.item-work__image {
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.item-work__title:not(:last-child) {
  margin-bottom: .5rem
}
.item-work__title-link {
  font-family: Orbitron;
  font-weight: 600
}
.item-work__subtitle:not(:last-child) {
  margin-bottom: 1.75rem
}
.item-work__btn-block {
  display: flex;
  gap: .875rem
}
.activity__container {
  display: flex;
  flex-direction: column
}
.activity__content {
  overflow: hidden
}
.activity__content .info-block__title {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%)
}
.activity__content .info-block__title._watcher-view {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition-delay: 2s;
  transition-duration: 1s
}
.activity__content .info-block__subtitle {
  max-width: 36.5625rem;
  width: 100%;
  opacity: 0
}
.activity__content .info-block__subtitle._watcher-view {
  opacity: .8;
  transition-delay: 3s;
  transition-duration: 1.5s
}
.slider-activity__slide {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  opacity: 0
}
.slider-activity__slide._watcher-view {
  opacity: 1;
  transition-duration: 1.5s;
  transition-delay: 1.2s
}
.slider-activity__picture {
  aspect-ratio: 1200/650;
  width: 100%;
  position: relative;
  z-index: 1
}
.slider-activity__picture::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(9,8,35,.3);
  border-radius: 1.5625rem
}
.slider-activity__play-default {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border-radius: 50%;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: .0625rem solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3
}
.slider-activity__play-default span {
  color: #fff
}
.slider-activity__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem
}
.slider-activity__title {
  font-family: Orbitron;
  font-weight: 600
}
.slider-activity__play-mobile {
  display: none
}
.info-block__title {
  font-family: Orbitron;
  font-weight: 600
}
.info-block__title:not(:last-child) {
  margin-bottom: 1.125rem
}
.info-block__title span {
  text-transform: capitalize;
  background: linear-gradient(158deg,#f86cf8 0,#64cef5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
.info-block__subtitle {
  line-height: 1.4
}
.info-block__subtitle:not(:last-child) {
  margin-bottom: 2.8125rem
}
.info-block__subtitle--big {
  font-size: 1.25rem
}
.info-block__btn-block {
  display: flex;
  align-items: center;
  gap: 1rem
}
.counter-items {
  display: flex
}
.item-counter__number {
  font-family: Orbitron;
  font-weight: 500
}
.item-counter__number::after {
  content: "K+"
}
@-webkit-keyframes blockUpAndDown {
  0% {
    -webkit-transform: translateY(5%);
    transform: translateY(5%)
  }
  50% {
    -webkit-transform: translateY(-5%);
    transform: translateY(-5%)
  }
  100% {
    -webkit-transform: translateY(5%);
    transform: translateY(5%)
  }
}
@keyframes blockUpAndDown {
  0% {
    -webkit-transform: translateY(5%);
    transform: translateY(5%)
  }
  50% {
    -webkit-transform: translateY(-5%);
    transform: translateY(-5%)
  }
  100% {
    -webkit-transform: translateY(5%);
    transform: translateY(5%)
  }
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:47.99875em) {
  .main__content .info-block__btn-block:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .main__content {
    padding-top: 2.75rem
  }
  .main__image-block .bg {
    position: absolute;
    width: 100%;
    height: 18.9375rem;
    bottom: -6.25rem;
    left: 0;
    -webkit-filter: blur(80px);
    filter: blur(80px);
    background: #000
  }
  .what__content {
    padding-top: 6.0375rem
  }
  .works__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
  }
  .activity__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
  }
  .slider-activity__slide {
    border-radius: 1.5625rem;
    overflow: hidden
  }
  .slider-activity__info {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(255,255,255,.1);
    z-index: 3
  }
}
@media (min-width:47.99875em) and (min-width:90em) {
  .slider-activity__info {
    padding-top: 3rem
  }
  .slider-activity__info {
    padding-bottom: 3rem
  }
  .slider-activity__info {
    padding-left: 3.125rem
  }
  .slider-activity__info {
    padding-right: 3.125rem
  }
}
@media (min-width:75em) {
  .button {
    padding-left: 1.8125rem
  }
  .button {
    padding-right: 1.8125rem
  }
  .button {
    font-size: 1.25rem
  }
  .footer {
    padding-top: 6.5rem
  }
  .footer {
    padding-bottom: 7.875rem
  }
  .footer__logo-lonk {
    font-size: 3.125rem
  }
  .page__main:not(:last-child) {
    margin-bottom: 7.25rem
  }
  .page__what:not(:last-child) {
    margin-bottom: 10.375rem
  }
  .page__works:not(:last-child) {
    margin-bottom: 11.625rem
  }
  .page__activity {
    margin-bottom: 14rem
  }
  .border-block__left {
    height: 19.8125rem
  }
  .border-block__left {
    width: 18.875rem
  }
  .border-block__right {
    width: 19.5rem
  }
  .border-block__right {
    height: 20.4375rem
  }
  .border-block__right {
    margin-top: 6.9375rem
  }
  .border-block__right {
    margin-left: -1.125rem
  }
  .works__container {
    gap: 5.4375rem
  }
  .works__items {
    gap: 2.25rem
  }
  .item-work__title-link {
    font-size: 1.25rem
  }
  .item-work__subtitle {
    font-size: .875rem
  }
  .activity__container {
    gap: 3.4375rem
  }
  .slider-activity__title {
    font-size: 2.8125rem
  }
  .info-block__title--big {
    font-size: 2.8125rem
  }
  .info-block__title--big span {
    font-size: 3.4375rem
  }
  .info-block__title--small {
    font-size: 2.1875rem
  }
  .info-block__subtitle {
    font-size: 1.125rem
  }
  .item-counter__number {
    font-size: 1.5rem
  }
}
@media (min-width:90em) {
  .menu__list {
    -webkit-column-gap: 3.125rem;
    -moz-column-gap: 3.125rem;
    column-gap: 3.125rem
  }
  .slider-activity__play-default {
    width: 7.5rem
  }
  .slider-activity__play-default {
    height: 7.5rem
  }
  .slider-activity__play-default span {
    font-size: 4rem
  }
  .counter-items {
    gap: 4.25rem
  }
}
@media (max-width:20em) {
  .button {
    padding-left: 1rem
  }
  .button {
    padding-right: 1rem
  }
  .button {
    font-size: 1rem
  }
  .footer {
    padding-top: 3rem
  }
  .footer {
    padding-bottom: 4rem
  }
  .footer__logo-lonk {
    font-size: 2rem
  }
  .page__main:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .page__what:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .page__works:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .page__activity {
    margin-bottom: 4rem
  }
  .border-block__left {
    height: 9.875rem
  }
  .border-block__left {
    width: 9.4375rem
  }
  .border-block__right {
    width: 9.75rem
  }
  .border-block__right {
    height: 10.1875rem
  }
  .border-block__right {
    margin-top: 3.625rem
  }
  .border-block__right {
    margin-left: -3.625rem
  }
  .works__container {
    gap: 2rem
  }
  .works__items {
    gap: 1.25rem
  }
  .item-work__title-link {
    font-size: 1rem
  }
  .item-work__subtitle {
    font-size: .75rem
  }
  .activity__container {
    gap: 1.5rem
  }
  .slider-activity__title {
    font-size: 1.5rem
  }
  .info-block__title--big {
    font-size: 2rem
  }
  .info-block__title--big span {
    font-size: 2.625rem
  }
  .info-block__title--small {
    font-size: 1.5rem
  }
  .info-block__subtitle {
    font-size: .875rem
  }
  .item-counter__number {
    font-size: 1.25rem
  }
}
@media (max-width:61.99875em) {
  .footer__container {
    grid-template-columns: auto;
    row-gap: 2rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: auto;
    height: auto;
    right: -100%;
    top: 5.625rem;
    overflow: auto;
    padding: 2.8125rem 2.1875rem 2.8125rem;
    transition: right .3s;
    background-color: #fff;
    border-radius: 5rem 0 0 5rem
  }
  .menu-open .menu__body {
    right: 0
  }
  .menu__list {
    flex-direction: column;
    row-gap: 1.5rem
  }
  .menu__link {
    color: #010208
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #fff
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .footer__navigation {
    grid-template-columns: repeat(2,1fr);
    row-gap: 1.5rem
  }
  .item-footer:last-child {
    grid-column: span 2
  }
  .item-footer:last-child .item-footer__title {
    display: none
  }
  .main__container {
    grid-template-columns: auto
  }
  .main__content {
    order: 2
  }
  .main__image-block {
    order: 1
  }
  .what__container {
    align-items: center;
    flex-direction: column
  }
  .what__image._watcher-view {
    transition-delay: .5s;
    transition-duration: .8s
  }
  .what__content .info-block__title._watcher-view {
    transition-delay: 1s;
    transition-duration: .5s
  }
  .what__content .info-block__subtitle._watcher-view {
    transition-delay: 1.8s;
    transition-duration: .8s
  }
  .what__content .info-block__btn-block._watcher-view {
    transition-delay: 2s
  }
  .works__content .info-block__title._watcher-view {
    transition-delay: 1s
  }
  .works__content .info-block__subtitle._watcher-view {
    transition-delay: 1.8s
  }
  .activity__content .info-block__title._watcher-view {
    transition-delay: 1s
  }
  .activity__content .info-block__subtitle._watcher-view {
    transition-delay: 1.8s
  }
  .slider-activity__picture {
    border-radius: 1.5625rem;
    overflow: hidden
  }
  .slider-activity__play-default {
    display: none
  }
  .slider-activity__play-mobile {
    background-color: #3e3e3e;
    border-radius: 50%;
    flex: 0 0 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center
  }
  .slider-activity__play-mobile span {
    font-size: 1.5rem
  }
  .item-counter {
    position: absolute;
    z-index: 2
  }
  .item-counter:nth-child(1) {
    top: 35%;
    left: .9375rem;
    -webkit-animation: blockUpAndDown 3.5s ease-in-out infinite;
    animation: blockUpAndDown 3.5s ease-in-out infinite
  }
  .item-counter:nth-child(2) {
    top: 20%;
    left: 30%;
    -webkit-animation: blockUpAndDown 2.2s ease-in-out infinite;
    animation: blockUpAndDown 2.2s ease-in-out infinite
  }
  .item-counter:nth-child(3) {
    top: 25%;
    right: 5%;
    -webkit-animation: blockUpAndDown 2.8s ease-in-out infinite;
    animation: blockUpAndDown 2.8s ease-in-out infinite
  }
}
@media (max-width:47.99875em) and (max-width:20em) {
  .menu__link {
    font-size: 1.5rem
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:29.99875em) {
  .main__image-block {
    margin: 0 auto;
    max-width: 15.625rem
  }
  .works__items {
    grid-template-columns: auto
  }
}
@media (min-width:20em) and (max-width:75em) {
  @supports (padding-left:clamp(1rem ,0.7045454545rem + 1.4772727273vw ,1.8125rem)) {
    .button {
      padding-left: clamp(1rem ,.7045454545rem + 1.4772727273vw ,1.8125rem)
    }
  }
  @supports not (padding-left:clamp(1rem ,0.7045454545rem + 1.4772727273vw ,1.8125rem)) {
    .button {
      padding-left: calc(1rem + .8125 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-right:clamp(1rem ,0.7045454545rem + 1.4772727273vw ,1.8125rem)) {
    .button {
      padding-right: clamp(1rem ,.7045454545rem + 1.4772727273vw ,1.8125rem)
    }
  }
  @supports not (padding-right:clamp(1rem ,0.7045454545rem + 1.4772727273vw ,1.8125rem)) {
    .button {
      padding-right: calc(1rem + .8125 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(1rem ,0.9090909091rem + 0.4545454545vw ,1.25rem)) {
    .button {
      font-size: clamp(1rem ,.9090909091rem + .4545454545vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.9090909091rem + 0.4545454545vw ,1.25rem)) {
    .button {
      font-size: calc(1rem + .25 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-top:clamp(3rem ,1.7272727273rem + 6.3636363636vw ,6.5rem)) {
    .footer {
      padding-top: clamp(3rem ,1.7272727273rem + 6.3636363636vw ,6.5rem)
    }
  }
  @supports not (padding-top:clamp(3rem ,1.7272727273rem + 6.3636363636vw ,6.5rem)) {
    .footer {
      padding-top: calc(3rem + 3.5 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-bottom:clamp(4rem ,2.5909090909rem + 7.0454545455vw ,7.875rem)) {
    .footer {
      padding-bottom: clamp(4rem ,2.5909090909rem + 7.0454545455vw ,7.875rem)
    }
  }
  @supports not (padding-bottom:clamp(4rem ,2.5909090909rem + 7.0454545455vw ,7.875rem)) {
    .footer {
      padding-bottom: calc(4rem + 3.875 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(2rem ,1.5909090909rem + 2.0454545455vw ,3.125rem)) {
    .footer__logo-lonk {
      font-size: clamp(2rem ,1.5909090909rem + 2.0454545455vw ,3.125rem)
    }
  }
  @supports not (font-size:clamp(2rem ,1.5909090909rem + 2.0454545455vw ,3.125rem)) {
    .footer__logo-lonk {
      font-size: calc(2rem + 1.125 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,1.625rem + 7.5vw ,7.25rem)) {
    .page__main:not(:last-child) {
      margin-bottom: clamp(3.125rem ,1.625rem + 7.5vw ,7.25rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,1.625rem + 7.5vw ,7.25rem)) {
    .page__main:not(:last-child) {
      margin-bottom: calc(3.125rem + 4.125 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,0.4886363636rem + 13.1818181818vw ,10.375rem)) {
    .page__what:not(:last-child) {
      margin-bottom: clamp(3.125rem ,.4886363636rem + 13.1818181818vw ,10.375rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,0.4886363636rem + 13.1818181818vw ,10.375rem)) {
    .page__what:not(:last-child) {
      margin-bottom: calc(3.125rem + 7.25 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,0.0340909091rem + 15.4545454545vw ,11.625rem)) {
    .page__works:not(:last-child) {
      margin-bottom: clamp(3.125rem ,.0340909091rem + 15.4545454545vw ,11.625rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,0.0340909091rem + 15.4545454545vw ,11.625rem)) {
    .page__works:not(:last-child) {
      margin-bottom: calc(3.125rem + 8.5 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(4rem ,0.3636363636rem + 18.1818181818vw ,14rem)) {
    .page__activity {
      margin-bottom: clamp(4rem ,.3636363636rem + 18.1818181818vw ,14rem)
    }
  }
  @supports not (margin-bottom:clamp(4rem ,0.3636363636rem + 18.1818181818vw ,14rem)) {
    .page__activity {
      margin-bottom: calc(4rem + 10 * (100vw - 20rem)/ 55)
    }
  }
  @supports (height:clamp(9.875rem ,6.2613636364rem + 18.0681818182vw ,19.8125rem)) {
    .border-block__left {
      height: clamp(9.875rem ,6.2613636364rem + 18.0681818182vw ,19.8125rem)
    }
  }
  @supports not (height:clamp(9.875rem ,6.2613636364rem + 18.0681818182vw ,19.8125rem)) {
    .border-block__left {
      height: calc(9.875rem + 9.9375 * (100vw - 20rem)/ 55)
    }
  }
  @supports (width:clamp(9.4375rem ,6.0056818182rem + 17.1590909091vw ,18.875rem)) {
    .border-block__left {
      width: clamp(9.4375rem ,6.0056818182rem + 17.1590909091vw ,18.875rem)
    }
  }
  @supports not (width:clamp(9.4375rem ,6.0056818182rem + 17.1590909091vw ,18.875rem)) {
    .border-block__left {
      width: calc(9.4375rem + 9.4375 * (100vw - 20rem)/ 55)
    }
  }
  @supports (width:clamp(9.75rem ,6.2045454545rem + 17.7272727273vw ,19.5rem)) {
    .border-block__right {
      width: clamp(9.75rem ,6.2045454545rem + 17.7272727273vw ,19.5rem)
    }
  }
  @supports not (width:clamp(9.75rem ,6.2045454545rem + 17.7272727273vw ,19.5rem)) {
    .border-block__right {
      width: calc(9.75rem + 9.75 * (100vw - 20rem)/ 55)
    }
  }
  @supports (height:clamp(10.1875rem ,6.4602272727rem + 18.6363636364vw ,20.4375rem)) {
    .border-block__right {
      height: clamp(10.1875rem ,6.4602272727rem + 18.6363636364vw ,20.4375rem)
    }
  }
  @supports not (height:clamp(10.1875rem ,6.4602272727rem + 18.6363636364vw ,20.4375rem)) {
    .border-block__right {
      height: calc(10.1875rem + 10.25 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-top:clamp(3.625rem ,2.4204545455rem + 6.0227272727vw ,6.9375rem)) {
    .border-block__right {
      margin-top: clamp(3.625rem ,2.4204545455rem + 6.0227272727vw ,6.9375rem)
    }
  }
  @supports not (margin-top:clamp(3.625rem ,2.4204545455rem + 6.0227272727vw ,6.9375rem)) {
    .border-block__right {
      margin-top: calc(3.625rem + 3.3125 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-left:clamp(-3.625rem ,-4.5340909091rem + 4.5454545455vw ,-1.125rem)) {
    .border-block__right {
      margin-left: clamp(-3.625rem ,-4.5340909091rem + 4.5454545455vw ,-1.125rem)
    }
  }
  @supports not (margin-left:clamp(-3.625rem ,-4.5340909091rem + 4.5454545455vw ,-1.125rem)) {
    .border-block__right {
      margin-left: calc(-3.625rem + 2.5 * (100vw - 20rem)/ 55)
    }
  }
  @supports (gap:clamp(2rem ,0.75rem + 6.25vw ,5.4375rem)) {
    .works__container {
      gap: clamp(2rem ,.75rem + 6.25vw ,5.4375rem)
    }
  }
  @supports not (gap:clamp(2rem ,0.75rem + 6.25vw ,5.4375rem)) {
    .works__container {
      gap: calc(2rem + 3.4375 * (100vw - 20rem)/ 55)
    }
  }
  @supports (gap:clamp(1.25rem ,0.8863636364rem + 1.8181818182vw ,2.25rem)) {
    .works__items {
      gap: clamp(1.25rem ,.8863636364rem + 1.8181818182vw ,2.25rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,0.8863636364rem + 1.8181818182vw ,2.25rem)) {
    .works__items {
      gap: calc(1.25rem + 1 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(1rem ,0.9090909091rem + 0.4545454545vw ,1.25rem)) {
    .item-work__title-link {
      font-size: clamp(1rem ,.9090909091rem + .4545454545vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.9090909091rem + 0.4545454545vw ,1.25rem)) {
    .item-work__title-link {
      font-size: calc(1rem + .25 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(0.75rem ,0.7045454545rem + 0.2272727273vw ,0.875rem)) {
    .item-work__subtitle {
      font-size: clamp(.75rem ,.7045454545rem + .2272727273vw ,.875rem)
    }
  }
  @supports not (font-size:clamp(0.75rem ,0.7045454545rem + 0.2272727273vw ,0.875rem)) {
    .item-work__subtitle {
      font-size: calc(.75rem + .125 * (100vw - 20rem)/ 55)
    }
  }
  @supports (gap:clamp(1.5rem ,0.7954545455rem + 3.5227272727vw ,3.4375rem)) {
    .activity__container {
      gap: clamp(1.5rem ,.7954545455rem + 3.5227272727vw ,3.4375rem)
    }
  }
  @supports not (gap:clamp(1.5rem ,0.7954545455rem + 3.5227272727vw ,3.4375rem)) {
    .activity__container {
      gap: calc(1.5rem + 1.9375 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(1.5rem ,1.0227272727rem + 2.3863636364vw ,2.8125rem)) {
    .slider-activity__title {
      font-size: clamp(1.5rem ,1.0227272727rem + 2.3863636364vw ,2.8125rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,1.0227272727rem + 2.3863636364vw ,2.8125rem)) {
    .slider-activity__title {
      font-size: calc(1.5rem + 1.3125 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(2rem ,1.7045454545rem + 1.4772727273vw ,2.8125rem)) {
    .info-block__title--big {
      font-size: clamp(2rem ,1.7045454545rem + 1.4772727273vw ,2.8125rem)
    }
  }
  @supports not (font-size:clamp(2rem ,1.7045454545rem + 1.4772727273vw ,2.8125rem)) {
    .info-block__title--big {
      font-size: calc(2rem + .8125 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(2.625rem ,2.3295454545rem + 1.4772727273vw ,3.4375rem)) {
    .info-block__title--big span {
      font-size: clamp(2.625rem ,2.3295454545rem + 1.4772727273vw ,3.4375rem)
    }
  }
  @supports not (font-size:clamp(2.625rem ,2.3295454545rem + 1.4772727273vw ,3.4375rem)) {
    .info-block__title--big span {
      font-size: calc(2.625rem + .8125 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(1.5rem ,1.25rem + 1.25vw ,2.1875rem)) {
    .info-block__title--small {
      font-size: clamp(1.5rem ,1.25rem + 1.25vw ,2.1875rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,1.25rem + 1.25vw ,2.1875rem)) {
    .info-block__title--small {
      font-size: calc(1.5rem + .6875 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(0.875rem ,0.7840909091rem + 0.4545454545vw ,1.125rem)) {
    .info-block__subtitle {
      font-size: clamp(.875rem ,.7840909091rem + .4545454545vw ,1.125rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.7840909091rem + 0.4545454545vw ,1.125rem)) {
    .info-block__subtitle {
      font-size: calc(.875rem + .25 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(1.25rem ,1.1590909091rem + 0.4545454545vw ,1.5rem)) {
    .item-counter__number {
      font-size: clamp(1.25rem ,1.1590909091rem + .4545454545vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,1.1590909091rem + 0.4545454545vw ,1.5rem)) {
    .item-counter__number {
      font-size: calc(1.25rem + .25 * (100vw - 20rem)/ 55)
    }
  }
}
@media (min-width:47.99875em) and (max-width:90em) {
  @supports ((-moz-column-gap:clamp(1.5rem ,-0.357039225rem + 3.8689324722vw ,3.125rem)) or (column-gap:clamp(1.5rem ,-0.357039225rem + 3.8689324722vw ,3.125rem))) {
    .menu__list {
      -webkit-column-gap: clamp(1.5rem ,-.357039225rem + 3.8689324722vw ,3.125rem);
      -moz-column-gap: clamp(1.5rem ,-.357039225rem + 3.8689324722vw ,3.125rem);
      column-gap: clamp(1.5rem ,-.357039225rem + 3.8689324722vw ,3.125rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.5rem ,-0.357039225rem + 3.8689324722vw ,3.125rem)) or (column-gap:clamp(1.5rem ,-0.357039225rem + 3.8689324722vw ,3.125rem))) {
    .menu__list {
      -webkit-column-gap: calc(1.5rem + 1.625 * (100vw - 47.99875rem)/ 42.00125);
      -moz-column-gap: calc(1.5rem + 1.625 * (100vw - 47.99875rem)/ 42.00125);
      column-gap: calc(1.5rem + 1.625 * (100vw - 47.99875rem)/ 42.00125)
    }
  }
  @supports (width:clamp(4.5rem ,1.0716198923rem + 7.1426445641vw ,7.5rem)) {
    .slider-activity__play-default {
      width: clamp(4.5rem ,1.0716198923rem + 7.1426445641vw ,7.5rem)
    }
  }
  @supports not (width:clamp(4.5rem ,1.0716198923rem + 7.1426445641vw ,7.5rem)) {
    .slider-activity__play-default {
      width: calc(4.5rem + 3 * (100vw - 47.99875rem)/ 42.00125)
    }
  }
  @supports (height:clamp(4.5rem ,1.0716198923rem + 7.1426445641vw ,7.5rem)) {
    .slider-activity__play-default {
      height: clamp(4.5rem ,1.0716198923rem + 7.1426445641vw ,7.5rem)
    }
  }
  @supports not (height:clamp(4.5rem ,1.0716198923rem + 7.1426445641vw ,7.5rem)) {
    .slider-activity__play-default {
      height: calc(4.5rem + 3 * (100vw - 47.99875rem)/ 42.00125)
    }
  }
  @supports (font-size:clamp(2.25rem ,0.2501116038rem + 4.1665426624vw ,4rem)) {
    .slider-activity__play-default span {
      font-size: clamp(2.25rem ,.2501116038rem + 4.1665426624vw ,4rem)
    }
  }
  @supports not (font-size:clamp(2.25rem ,0.2501116038rem + 4.1665426624vw ,4rem)) {
    .slider-activity__play-default span {
      font-size: calc(2.25rem + 1.75 * (100vw - 47.99875rem)/ 42.00125)
    }
  }
  @supports (gap:clamp(1.5rem ,-1.6426817654rem + 6.5474241838vw ,4.25rem)) {
    .counter-items {
      gap: clamp(1.5rem ,-1.6426817654rem + 6.5474241838vw ,4.25rem)
    }
  }
  @supports not (gap:clamp(1.5rem ,-1.6426817654rem + 6.5474241838vw ,4.25rem)) {
    .counter-items {
      gap: calc(1.5rem + 2.75 * (100vw - 47.99875rem)/ 42.00125)
    }
  }
}
@media (max-width:47.99875em) and (min-width:75em) {
  .menu__link {
    font-size: 2rem
  }
}
@media (max-width:47.99875em) and (min-width:20em) and (max-width:75em) {
  @supports (font-size:clamp(1.5rem ,1.3181818182rem + 0.9090909091vw ,2rem)) {
    .menu__link {
      font-size: clamp(1.5rem ,1.3181818182rem + .9090909091vw ,2rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,1.3181818182rem + 0.9090909091vw ,2rem)) {
    .menu__link {
      font-size: calc(1.5rem + .5 * (100vw - 20rem)/ 55)
    }
  }
}
@media (min-width:47.99875em) and (min-width:47.99875em) and (max-width:90em) {
  @supports (padding-top:clamp(1.5rem ,-0.2141900539rem + 3.5713222821vw ,3rem)) {
    .slider-activity__info {
      padding-top: clamp(1.5rem ,-.2141900539rem + 3.5713222821vw ,3rem)
    }
  }
  @supports not (padding-top:clamp(1.5rem ,-0.2141900539rem + 3.5713222821vw ,3rem)) {
    .slider-activity__info {
      padding-top: calc(1.5rem + 1.5 * (100vw - 47.99875rem)/ 42.00125)
    }
  }
  @supports (padding-bottom:clamp(1.5rem ,-0.2141900539rem + 3.5713222821vw ,3rem)) {
    .slider-activity__info {
      padding-bottom: clamp(1.5rem ,-.2141900539rem + 3.5713222821vw ,3rem)
    }
  }
  @supports not (padding-bottom:clamp(1.5rem ,-0.2141900539rem + 3.5713222821vw ,3rem)) {
    .slider-activity__info {
      padding-bottom: calc(1.5rem + 1.5 * (100vw - 47.99875rem)/ 42.00125)
    }
  }
  @supports (padding-left:clamp(1.75rem ,0.1786591173rem + 3.2737120919vw ,3.125rem)) {
    .slider-activity__info {
      padding-left: clamp(1.75rem ,.1786591173rem + 3.2737120919vw ,3.125rem)
    }
  }
  @supports not (padding-left:clamp(1.75rem ,0.1786591173rem + 3.2737120919vw ,3.125rem)) {
    .slider-activity__info {
      padding-left: calc(1.75rem + 1.375 * (100vw - 47.99875rem)/ 42.00125)
    }
  }
  @supports (padding-right:clamp(1.75rem ,0.1786591173rem + 3.2737120919vw ,3.125rem)) {
    .slider-activity__info {
      padding-right: clamp(1.75rem ,.1786591173rem + 3.2737120919vw ,3.125rem)
    }
  }
  @supports not (padding-right:clamp(1.75rem ,0.1786591173rem + 3.2737120919vw ,3.125rem)) {
    .slider-activity__info {
      padding-right: calc(1.75rem + 1.375 * (100vw - 47.99875rem)/ 42.00125)
    }
  }
}
@media (any-hover:hover) {
  .button:hover {
    opacity: .7
  }
  .menu__link:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .8
  }
  .header__logo:hover {
    background: linear-gradient(158deg,#f86cf8 0,#64cef5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
  }
  .item-footer__link:hover {
    opacity: .8
  }
  .item-work__picture-block:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  .item-work__title-link:hover {
    background: linear-gradient(158deg,#f86cf8 0,#64cef5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
  }
}