@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #151515;
  line-height: 1;
  font-family: Poppins;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Poppins;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 69.375rem;
  margin: 0 auto;
  padding: 0 .625rem
}
[class*=__container-big] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 .625rem
}
.form {
  background-color: #fff;
  width: 100%;
  position: relative;
  border-radius: .75rem;
  box-shadow: 0 1px 3px 0 rgba(19,10,46,.13),0 3px 14px 0 rgba(19,10,46,.03),0 8px 32px 0 rgba(19,10,46,.07),0 30px 84px 0 rgba(19,10,46,.08)
}
.form__header:not(:last-child) {
  margin-bottom: 1.5rem
}
.form__main {
  display: flex;
  gap: 1.875rem
}
.form__main:not(:last-child) {
  margin-bottom: 1rem
}
.form__add {
  font-weight: 500;
  font-size: .875rem;
  text-transform: capitalize;
  text-decoration: underline
}
.form__submit {
  background-color: #656293;
  border-radius: .625rem;
  display: flex;
  align-items: center;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
  white-space: nowrap
}
.inputs-form__select-city {
  display: flex;
  align-items: center;
  gap: .375rem
}
.inputs-form__switch {
  flex: 0 0 1.75rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  border: .0625rem solid #151515;
  transition: border-color .3s,-webkit-transform .5s;
  transition: transform .5s,border-color .3s;
  transition: transform .5s,border-color .3s,-webkit-transform .5s;
  display: flex;
  justify-content: center;
  align-items: center
}
.inputs-form__select-date {
  width: 100%
}
.item-city-form {
  border: .0625rem solid #aaa;
  border-radius: .625rem;
  padding: 1rem 1.25rem;
  height: 100%;
  width: 100%;
  position: relative
}
.item-city-form__body {
  display: flex;
  flex-direction: column;
  gap: .5rem
}
.item-city-form__title {
  font-weight: 500;
  font-size: .875rem;
  text-transform: uppercase;
  color: rgba(15,15,15,.6)
}
.item-city-form__full-name {
  font-weight: 500;
  font-size: .875rem;
  text-transform: uppercase;
  color: rgba(15,15,15,.6)
}
.item-city-form__list {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  opacity: 0;
  transition: opacity .8s;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  border: .0625rem solid #aaa;
  border-radius: 0 0 .625rem .625rem;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(19,10,46,.13),0 3px 14px 0 rgba(19,10,46,.03),0 8px 32px 0 rgba(19,10,46,.07),0 30px 84px 0 rgba(19,10,46,.08)
}
.item-city-form__list.active {
  opacity: 1
}
.item-city-form__list .city-item {
  text-align: start
}
.item-date-form {
  border: .0625rem solid #aaa;
  border-radius: .625rem;
  padding: 1rem 1.25rem;
  display: flex;
  justify-content: space-between;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  height: 100%
}
.item-date-form__side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5rem
}
.item-date-form__title {
  font-weight: 500;
  font-size: .875rem;
  text-transform: uppercase;
  color: rgba(15,15,15,.6)
}
.item-date-form__actions {
  display: flex;
  justify-content: space-between;
  gap: .5rem
}
.item-date-form__next,
.item-date-form__prev {
  text-transform: capitalize;
  font-weight: 500;
  font-size: .875rem;
  text-transform: uppercase;
  color: rgba(15,15,15,.6)
}
.item-date-form__next.disabled,
.item-date-form__prev.disabled {
  pointer-events: none;
  opacity: .5
}
.button {
  display: inline-flex;
  padding: .75rem .5rem;
  justify-content: center;
  align-items: center;
  line-height: 1.82;
  font-weight: 600;
  border-radius: .75rem
}
.button--fw {
  width: 100%
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  border-radius: 0!important;
  width: 100%;
  display: block;
  caret-color: inherit;
  font-weight: 600;
  text-transform: uppercase
}
.input--date {
  font-size: 1.125rem
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea.input {
  resize: none;
  padding: 0 0
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.form,
.main__window {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.title {
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  color: #000
}
.footer {
  background-color: #656293
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 1.875rem
}
.footer__top {
  display: flex;
  justify-content: center
}
.footer__bottom {
  border-top: .0625rem solid rgba(255,255,255,.2);
  padding-top: 1.0625rem;
  padding-bottom: .9375rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem
}
.top-footer__logo {
  display: flex;
  align-items: center
}
.top-footer__logo svg {
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.top-footer__logo span {
  font-size: 1.375rem;
  text-transform: capitalize;
  color: #fff;
  font-weight: 700;
  transition: color .3s
}
.bottom-footer__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem
}
.bottom-footer__item {
  font-size: .875rem;
  text-transform: uppercase;
  color: rgba(255,255,255,.7);
  transition: color .3s
}
.bottom-footer__coop {
  color: rgba(255,255,255,.7);
  text-transform: capitalize;
  font-size: .875rem
}
.main {
  position: relative;
  min-height: 100dvh;
  display: flex
}
.main__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .2;
  z-index: 2
}
.main__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #e5f4f6
}
.main__container {
  flex: 1 1 auto;
  width: 100%;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center
}
.main__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%
}
.main__title {
  font-family: Roboto;
  max-width: 36.6875rem;
  text-transform: capitalize
}
.main__title span {
  font-weight: 700;
  text-transform: uppercase;
  color: #656293
}
.main__window {
  border: .9375rem solid #fff;
  border-radius: 7.5rem;
  box-shadow: inset 0 -4px 5px 0 rgba(0,0,0,.25);
  aspect-ratio: 360/451;
  max-width: 22.5rem;
  width: 100%
}
.air-classes__items {
  display: flex;
  flex-direction: column
}
.item-air-class {
  position: relative
}
.item-air-class:nth-child(even) .item-air-class__rectangle {
  border-radius: 3.125rem 0 0 3.125rem;
  right: 0
}
.item-air-class:nth-child(odd) .item-air-class__rectangle {
  border-radius: 0 3.125rem 3.125rem 0;
  left: 0
}
.item-air-class__rectangle {
  position: absolute;
  width: 25rem;
  height: 100%;
  top: 0;
  background-color: #e5f4f6;
  z-index: -1
}
.item-air-class__container {
  display: flex;
  align-items: center
}
.item-air-class__img {
  aspect-ratio: 589/392;
  border-radius: 1.25rem;
  overflow: hidden;
  width: 100%
}
.item-air-class__info {
  display: flex;
  flex-direction: column;
  gap: .875rem
}
.item-air-class__name {
  font-weight: 600;
  color: #000
}
.item-air-class__text {
  letter-spacing: .02em;
  color: rgba(15,15,15,.6);
  text-align: justify;
  line-height: 1.3
}
.specifications__container {
  display: flex;
  flex-direction: column
}
.item-specification {
  border-radius: .75rem;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(19,10,46,.13),0 3px 14px 0 rgba(19,10,46,.03),0 8px 32px 0 rgba(19,10,46,.07),0 30px 84px 0 rgba(19,10,46,.08);
  max-width: 23.125rem;
  width: 100%
}
.item-specification__body {
  padding: 2.5rem 3.25rem 3.125rem 3.25rem;
  text-align: center
}
.item-specification__icon {
  margin: 0 auto;
  width: 3.4375rem;
  height: 3.4375rem
}
.item-specification__icon:not(:last-child) {
  margin-bottom: .8125rem
}
.item-specification__title {
  font-weight: 500
}
.item-specification__title:not(:last-child) {
  margin-bottom: .6875rem
}
.item-specification__subtitle {
  letter-spacing: .02em;
  color: rgba(15,15,15,.6)
}
.charters {
  position: relative
}
.charters__container {
  display: flex;
  flex-direction: column;
  padding-top: 1.875rem;
  padding-bottom: 3.625rem
}
.charters__map {
  position: absolute;
  max-width: 53.375rem;
  width: 100%;
  max-height: 21.1875rem;
  height: 100%;
  bottom: 0;
  right: 0;
  z-index: -1
}
.item-charter {
  padding: .75rem;
  background-color: #fff;
  border-radius: .75rem;
  box-shadow: 0 1px 3px 0 rgba(19,10,46,.13),0 3px 14px 0 rgba(19,10,46,.03),0 8px 32px 0 rgba(19,10,46,.07),0 30px 84px 0 rgba(19,10,46,.08)
}
.item-charter__body {
  display: flex;
  flex-direction: column;
  gap: .875rem
}
.item-charter__img {
  aspect-ratio: 230/189;
  border-radius: .75rem;
  overflow: hidden
}
.item-charter__img-link {
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.item-charter__title {
  text-align: center;
  font-weight: 500
}
.item-charter__title-link {
  transition: color .3s,font-weight .3s
}
.membership__container-big {
  display: flex;
  flex-direction: column
}
.membership__items {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1.5rem
}
.membership__decor {
  aspect-ratio: 759/200;
  max-width: 47.4375rem;
  margin: 0 auto;
  -webkit-transform: translateX(10%);
  transform: translateX(10%)
}
.item-membership {
  width: 100%;
  background-color: #f5f5f5;
  padding: 1.5rem
}
.item-membership:nth-child(1) {
  border-radius: 1.25rem 0 0 1.25rem
}
.item-membership:nth-child(2) {
  border-radius: 1.25rem
}
.item-membership:nth-child(3) {
  border-radius: 0 1.25rem 1.25rem 0
}
.item-membership._active {
  background-color: #656293
}
.item-membership__title {
  font-weight: 700;
  line-height: 1.25
}
._active .item-membership__title {
  color: #fff
}
.item-membership__subtitle {
  color: #a9a9aa
}
.item-membership__subtitle:not(:last-child) {
  margin-bottom: 1.125rem
}
.item-membership__list {
  padding-bottom: 1.125rem;
  border-bottom: .0625rem dashed #a9a9aa
}
.item-membership__item {
  display: flex;
  align-items: center;
  gap: .5rem
}
.item-membership__item svg path {
  fill: #151515
}
.item-membership__item span {
  font-weight: 500
}
._active .item-membership__item svg path {
  fill: #fff
}
._active .item-membership__item span {
  color: #fff
}
.item-membership__price {
  font-weight: 700;
  line-height: 1.25
}
.item-membership__price::before {
  content: "$"
}
.item-membership__price span {
  font-weight: 400;
  font-size: 1.125rem
}
.item-membership__price span::before {
  content: "/month"
}
._active .item-membership__price {
  color: #fff
}
.item-membership__price:not(:last-child) {
  margin-bottom: 1.5rem
}
.item-membership__btn {
  background-color: #656293;
  transition: background-color .3s,color .3s
}
._active .item-membership__btn {
  background-color: #fff;
  transition: background-color .3s,color .3s
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:47.99875em) {
  .form__submit {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%,50%);
    transform: translate(-50%,50%)
  }
  .main__form {
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%)
  }
  .air-classes__container {
    padding-top: 16.1875rem
  }
}
@media (min-width:61.99875em) {
  .inputs-form__select-date {
    max-width: 23.75rem
  }
  .item-city-form {
    max-width: 18.75rem
  }
  .item-air-class:nth-child(even) .item-air-class__container {
    flex-direction: row-reverse
  }
  .item-air-class__img {
    flex-grow: 0;
    flex-shrink: 0
  }
  .item-membership {
    max-width: 24rem
  }
  .item-membership._active {
    -webkit-transform: translateY(-2.5rem);
    transform: translateY(-2.5rem)
  }
}
@media (min-width:61.99875em) and (min-width:69.375em) {
  .item-air-class__img {
    flex-basis: 36.8125rem
  }
}
@media (min-width:69.375em) {
  .form {
    padding: 2rem
  }
  .form__submit {
    padding-top: 1.625rem
  }
  .form__submit {
    padding-bottom: 1.625rem
  }
  .form__submit {
    padding-left: 1.875rem
  }
  .form__submit {
    padding-right: 1.875rem
  }
  .form__submit {
    gap: 3.125rem
  }
  .button {
    font-size: 1.375rem
  }
  .input {
    font-size: 1.5rem
  }
  .title {
    font-size: 2.25rem
  }
  .footer__container {
    padding-top: 3.125rem
  }
  .main__title {
    font-size: 4.125rem
  }
  .air-classes__container:not(:last-child) {
    margin-bottom: 4.125rem
  }
  .air-classes__items {
    gap: 3.0625rem
  }
  .item-air-class {
    padding-left: 2rem
  }
  .item-air-class__container {
    -webkit-column-gap: 2.375rem;
    -moz-column-gap: 2.375rem;
    column-gap: 2.375rem
  }
  .item-air-class__container {
    padding-top: 4.0625rem
  }
  .item-air-class__container {
    padding-bottom: 4.0625rem
  }
  .item-air-class__name {
    font-size: 1.5rem
  }
  .item-air-class__text {
    font-size: 1rem
  }
  .specifications__container {
    gap: 4.3125rem
  }
  .item-specification__title {
    font-size: 1.125rem
  }
  .item-specification__subtitle {
    font-size: 1rem
  }
  .charters__container {
    gap: 4.3125rem
  }
  .membership__container-big {
    gap: 6.5625rem
  }
  .item-membership__title {
    font-size: 2rem
  }
  .item-membership__title:not(:last-child) {
    margin-bottom: 2rem
  }
  .item-membership__subtitle {
    font-size: 1.375rem
  }
  .item-membership__list:not(:last-child) {
    margin-bottom: 4.375rem
  }
  .item-membership__price {
    font-size: 2rem
  }
}
@media (max-width:20em) {
  .form__submit {
    padding-top: .75rem
  }
  .form__submit {
    padding-bottom: .75rem
  }
  .form__submit {
    padding-left: 1rem
  }
  .form__submit {
    padding-right: 1rem
  }
  .main__title {
    font-size: 2.625rem
  }
}
@media (max-width:61.99875em) {
  .form__main {
    flex-direction: column
  }
  .item-air-class__rectangle {
    display: none
  }
  .item-air-class__container {
    flex-direction: column-reverse;
    row-gap: 1.5rem;
    text-align: center
  }
  .item-air-class__text {
    text-align: center
  }
  .membership__items {
    grid-template-columns: auto;
    gap: 0
  }
  .item-membership:nth-child(1) {
    border-radius: 3.125rem 3.125rem 0 0;
    border-top: .0625rem solid #151515;
    border-left: .03125rem solid #656293;
    border-right: .03125rem solid #656293
  }
  .item-membership:nth-child(2) {
    border-radius: 0
  }
  .item-membership:nth-child(3) {
    border-radius: 0 0 3.125rem 3.125rem;
    border-bottom: .0625rem solid #151515;
    border-left: .03125rem solid #656293;
    border-right: .03125rem solid #656293
  }
}
@media (max-width:47.99875em) {
  .form__buttons {
    display: flex;
    align-items: center;
    gap: .5rem;
    justify-content: space-between
  }
  .inputs-form__select-city {
    flex-direction: column;
    gap: .75rem
  }
  .inputs-form__switch {
    flex: 0 0 2.75rem;
    height: 2.75rem;
    width: 2.75rem
  }
  .inputs-form__switch svg {
    width: 2rem;
    height: 2rem
  }
  .footer__bottom {
    flex-direction: column;
    align-items: center
  }
}
@media (max-width:29.99875em) {
  .item-date-form {
    flex-direction: column;
    row-gap: 1.5rem
  }
}
@media (max-width:23.4375em) {
  .form {
    padding: .75rem
  }
  .form__submit {
    gap: 1rem
  }
  .button {
    font-size: 1.125rem
  }
  .input {
    font-size: 1.125rem
  }
  .title {
    font-size: 1.5rem
  }
  .footer__container {
    padding-top: 1.875rem
  }
  .air-classes__container {
    padding-top: 5rem
  }
  .air-classes__container:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .air-classes__items {
    gap: 2rem
  }
  .item-air-class__name {
    font-size: 1.125rem
  }
  .item-air-class__text {
    font-size: .875rem
  }
  .specifications__container {
    gap: 2.5rem
  }
  .item-specification__title {
    font-size: 1rem
  }
  .item-specification__subtitle {
    font-size: .875rem
  }
  .charters__container {
    gap: 2.5rem
  }
  .membership__container-big {
    gap: 4.375rem
  }
  .item-membership__title {
    font-size: 1.5rem
  }
  .item-membership__title:not(:last-child) {
    margin-bottom: 1.5rem
  }
  .item-membership__subtitle {
    font-size: 1.125rem
  }
  .item-membership__list:not(:last-child) {
    margin-bottom: 2rem
  }
  .item-membership__price {
    font-size: 1.5rem
  }
}
@media (min-width:23.4375em) and (max-width:69.375em) {
  @supports (padding:clamp(0.75rem ,0.112244898rem + 2.7210884354vw ,2rem)) {
    .form {
      padding: clamp(.75rem ,.112244898rem + 2.7210884354vw ,2rem)
    }
  }
  @supports not (padding:clamp(0.75rem ,0.112244898rem + 2.7210884354vw ,2rem)) {
    .form {
      padding: calc(.75rem + 1.25 * (100vw - 23.4375rem)/ 45.9375)
    }
  }
  @supports (gap:clamp(1rem ,-0.0841836735rem + 4.6258503401vw ,3.125rem)) {
    .form__submit {
      gap: clamp(1rem ,-.0841836735rem + 4.6258503401vw ,3.125rem)
    }
  }
  @supports not (gap:clamp(1rem ,-0.0841836735rem + 4.6258503401vw ,3.125rem)) {
    .form__submit {
      gap: calc(1rem + 2.125 * (100vw - 23.4375rem)/ 45.9375)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.9974489796rem + 0.5442176871vw ,1.375rem)) {
    .button {
      font-size: clamp(1.125rem ,.9974489796rem + .5442176871vw ,1.375rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.9974489796rem + 0.5442176871vw ,1.375rem)) {
    .button {
      font-size: calc(1.125rem + .25 * (100vw - 23.4375rem)/ 45.9375)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.9336734694rem + 0.8163265306vw ,1.5rem)) {
    .input {
      font-size: clamp(1.125rem ,.9336734694rem + .8163265306vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.9336734694rem + 0.8163265306vw ,1.5rem)) {
    .input {
      font-size: calc(1.125rem + .375 * (100vw - 23.4375rem)/ 45.9375)
    }
  }
  @supports (font-size:clamp(1.5rem ,1.1173469388rem + 1.6326530612vw ,2.25rem)) {
    .title {
      font-size: clamp(1.5rem ,1.1173469388rem + 1.6326530612vw ,2.25rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,1.1173469388rem + 1.6326530612vw ,2.25rem)) {
    .title {
      font-size: calc(1.5rem + .75 * (100vw - 23.4375rem)/ 45.9375)
    }
  }
  @supports (padding-top:clamp(1.875rem ,1.237244898rem + 2.7210884354vw ,3.125rem)) {
    .footer__container {
      padding-top: clamp(1.875rem ,1.237244898rem + 2.7210884354vw ,3.125rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,1.237244898rem + 2.7210884354vw ,3.125rem)) {
    .footer__container {
      padding-top: calc(1.875rem + 1.25 * (100vw - 23.4375rem)/ 45.9375)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,1.6709183673rem + 3.537414966vw ,4.125rem)) {
    .air-classes__container:not(:last-child) {
      margin-bottom: clamp(2.5rem ,1.6709183673rem + 3.537414966vw ,4.125rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,1.6709183673rem + 3.537414966vw ,4.125rem)) {
    .air-classes__container:not(:last-child) {
      margin-bottom: calc(2.5rem + 1.625 * (100vw - 23.4375rem)/ 45.9375)
    }
  }
  @supports (gap:clamp(2rem ,1.4579081633rem + 2.3129251701vw ,3.0625rem)) {
    .air-classes__items {
      gap: clamp(2rem ,1.4579081633rem + 2.3129251701vw ,3.0625rem)
    }
  }
  @supports not (gap:clamp(2rem ,1.4579081633rem + 2.3129251701vw ,3.0625rem)) {
    .air-classes__items {
      gap: calc(2rem + 1.0625 * (100vw - 23.4375rem)/ 45.9375)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.9336734694rem + 0.8163265306vw ,1.5rem)) {
    .item-air-class__name {
      font-size: clamp(1.125rem ,.9336734694rem + .8163265306vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.9336734694rem + 0.8163265306vw ,1.5rem)) {
    .item-air-class__name {
      font-size: calc(1.125rem + .375 * (100vw - 23.4375rem)/ 45.9375)
    }
  }
  @supports (font-size:clamp(0.875rem ,0.8112244898rem + 0.2721088435vw ,1rem)) {
    .item-air-class__text {
      font-size: clamp(.875rem ,.8112244898rem + .2721088435vw ,1rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.8112244898rem + 0.2721088435vw ,1rem)) {
    .item-air-class__text {
      font-size: calc(.875rem + .125 * (100vw - 23.4375rem)/ 45.9375)
    }
  }
  @supports (gap:clamp(2.5rem ,1.575255102rem + 3.9455782313vw ,4.3125rem)) {
    .specifications__container {
      gap: clamp(2.5rem ,1.575255102rem + 3.9455782313vw ,4.3125rem)
    }
  }
  @supports not (gap:clamp(2.5rem ,1.575255102rem + 3.9455782313vw ,4.3125rem)) {
    .specifications__container {
      gap: calc(2.5rem + 1.8125 * (100vw - 23.4375rem)/ 45.9375)
    }
  }
  @supports (font-size:clamp(1rem ,0.9362244898rem + 0.2721088435vw ,1.125rem)) {
    .item-specification__title {
      font-size: clamp(1rem ,.9362244898rem + .2721088435vw ,1.125rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.9362244898rem + 0.2721088435vw ,1.125rem)) {
    .item-specification__title {
      font-size: calc(1rem + .125 * (100vw - 23.4375rem)/ 45.9375)
    }
  }
  @supports (font-size:clamp(0.875rem ,0.8112244898rem + 0.2721088435vw ,1rem)) {
    .item-specification__subtitle {
      font-size: clamp(.875rem ,.8112244898rem + .2721088435vw ,1rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.8112244898rem + 0.2721088435vw ,1rem)) {
    .item-specification__subtitle {
      font-size: calc(.875rem + .125 * (100vw - 23.4375rem)/ 45.9375)
    }
  }
  @supports (gap:clamp(2.5rem ,1.575255102rem + 3.9455782313vw ,4.3125rem)) {
    .charters__container {
      gap: clamp(2.5rem ,1.575255102rem + 3.9455782313vw ,4.3125rem)
    }
  }
  @supports not (gap:clamp(2.5rem ,1.575255102rem + 3.9455782313vw ,4.3125rem)) {
    .charters__container {
      gap: calc(2.5rem + 1.8125 * (100vw - 23.4375rem)/ 45.9375)
    }
  }
  @supports (gap:clamp(4.375rem ,3.2589285714rem + 4.7619047619vw ,6.5625rem)) {
    .membership__container-big {
      gap: clamp(4.375rem ,3.2589285714rem + 4.7619047619vw ,6.5625rem)
    }
  }
  @supports not (gap:clamp(4.375rem ,3.2589285714rem + 4.7619047619vw ,6.5625rem)) {
    .membership__container-big {
      gap: calc(4.375rem + 2.1875 * (100vw - 23.4375rem)/ 45.9375)
    }
  }
  @supports (font-size:clamp(1.5rem ,1.2448979592rem + 1.0884353741vw ,2rem)) {
    .item-membership__title {
      font-size: clamp(1.5rem ,1.2448979592rem + 1.0884353741vw ,2rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,1.2448979592rem + 1.0884353741vw ,2rem)) {
    .item-membership__title {
      font-size: calc(1.5rem + .5 * (100vw - 23.4375rem)/ 45.9375)
    }
  }
  @supports (margin-bottom:clamp(1.5rem ,1.2448979592rem + 1.0884353741vw ,2rem)) {
    .item-membership__title:not(:last-child) {
      margin-bottom: clamp(1.5rem ,1.2448979592rem + 1.0884353741vw ,2rem)
    }
  }
  @supports not (margin-bottom:clamp(1.5rem ,1.2448979592rem + 1.0884353741vw ,2rem)) {
    .item-membership__title:not(:last-child) {
      margin-bottom: calc(1.5rem + .5 * (100vw - 23.4375rem)/ 45.9375)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.9974489796rem + 0.5442176871vw ,1.375rem)) {
    .item-membership__subtitle {
      font-size: clamp(1.125rem ,.9974489796rem + .5442176871vw ,1.375rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.9974489796rem + 0.5442176871vw ,1.375rem)) {
    .item-membership__subtitle {
      font-size: calc(1.125rem + .25 * (100vw - 23.4375rem)/ 45.9375)
    }
  }
  @supports (margin-bottom:clamp(2rem ,0.7882653061rem + 5.1700680272vw ,4.375rem)) {
    .item-membership__list:not(:last-child) {
      margin-bottom: clamp(2rem ,.7882653061rem + 5.1700680272vw ,4.375rem)
    }
  }
  @supports not (margin-bottom:clamp(2rem ,0.7882653061rem + 5.1700680272vw ,4.375rem)) {
    .item-membership__list:not(:last-child) {
      margin-bottom: calc(2rem + 2.375 * (100vw - 23.4375rem)/ 45.9375)
    }
  }
  @supports (font-size:clamp(1.5rem ,1.2448979592rem + 1.0884353741vw ,2rem)) {
    .item-membership__price {
      font-size: clamp(1.5rem ,1.2448979592rem + 1.0884353741vw ,2rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,1.2448979592rem + 1.0884353741vw ,2rem)) {
    .item-membership__price {
      font-size: calc(1.5rem + .5 * (100vw - 23.4375rem)/ 45.9375)
    }
  }
}
@media (min-width:20em) and (max-width:69.375em) {
  @supports (padding-top:clamp(0.75rem ,0.3955696203rem + 1.7721518987vw ,1.625rem)) {
    .form__submit {
      padding-top: clamp(.75rem ,.3955696203rem + 1.7721518987vw ,1.625rem)
    }
  }
  @supports not (padding-top:clamp(0.75rem ,0.3955696203rem + 1.7721518987vw ,1.625rem)) {
    .form__submit {
      padding-top: calc(.75rem + .875 * (100vw - 20rem)/ 49.375)
    }
  }
  @supports (padding-bottom:clamp(0.75rem ,0.3955696203rem + 1.7721518987vw ,1.625rem)) {
    .form__submit {
      padding-bottom: clamp(.75rem ,.3955696203rem + 1.7721518987vw ,1.625rem)
    }
  }
  @supports not (padding-bottom:clamp(0.75rem ,0.3955696203rem + 1.7721518987vw ,1.625rem)) {
    .form__submit {
      padding-bottom: calc(.75rem + .875 * (100vw - 20rem)/ 49.375)
    }
  }
  @supports (padding-left:clamp(1rem ,0.6455696203rem + 1.7721518987vw ,1.875rem)) {
    .form__submit {
      padding-left: clamp(1rem ,.6455696203rem + 1.7721518987vw ,1.875rem)
    }
  }
  @supports not (padding-left:clamp(1rem ,0.6455696203rem + 1.7721518987vw ,1.875rem)) {
    .form__submit {
      padding-left: calc(1rem + .875 * (100vw - 20rem)/ 49.375)
    }
  }
  @supports (padding-right:clamp(1rem ,0.6455696203rem + 1.7721518987vw ,1.875rem)) {
    .form__submit {
      padding-right: clamp(1rem ,.6455696203rem + 1.7721518987vw ,1.875rem)
    }
  }
  @supports not (padding-right:clamp(1rem ,0.6455696203rem + 1.7721518987vw ,1.875rem)) {
    .form__submit {
      padding-right: calc(1rem + .875 * (100vw - 20rem)/ 49.375)
    }
  }
  @supports (font-size:clamp(2.625rem ,2.0174050633rem + 3.0379746835vw ,4.125rem)) {
    .main__title {
      font-size: clamp(2.625rem ,2.0174050633rem + 3.0379746835vw ,4.125rem)
    }
  }
  @supports not (font-size:clamp(2.625rem ,2.0174050633rem + 3.0379746835vw ,4.125rem)) {
    .main__title {
      font-size: calc(2.625rem + 1.5 * (100vw - 20rem)/ 49.375)
    }
  }
}
@media (min-width:23.4375em) and (max-width:47.99875em) {
  @supports (padding-top:clamp(5rem ,-5.6756387093rem + 45.5493918266vw ,16.1875rem)) {
    .air-classes__container {
      padding-top: clamp(5rem ,-5.6756387093rem + 45.5493918266vw ,16.1875rem)
    }
  }
  @supports not (padding-top:clamp(5rem ,-5.6756387093rem + 45.5493918266vw ,16.1875rem)) {
    .air-classes__container {
      padding-top: calc(5rem + 11.1875 * (100vw - 23.4375rem)/ 24.56125)
    }
  }
}
@media (min-width:61.99875em) and (max-width:69.375em) {
  @supports (padding-left:clamp(1rem ,-7.4051855618rem + 13.5570242332vw ,2rem)) {
    .item-air-class {
      padding-left: clamp(1rem ,-7.4051855618rem + 13.5570242332vw ,2rem)
    }
  }
  @supports not (padding-left:clamp(1rem ,-7.4051855618rem + 13.5570242332vw ,2rem)) {
    .item-air-class {
      padding-left: calc(1rem + 1 * (100vw - 61.99875rem)/ 7.37625)
    }
  }
  @supports ((-moz-column-gap:clamp(0.75rem ,-12.9084265379rem + 22.0301643789vw ,2.375rem)) or (column-gap:clamp(0.75rem ,-12.9084265379rem + 22.0301643789vw ,2.375rem))) {
    .item-air-class__container {
      -webkit-column-gap: clamp(.75rem ,-12.9084265379rem + 22.0301643789vw ,2.375rem);
      -moz-column-gap: clamp(.75rem ,-12.9084265379rem + 22.0301643789vw ,2.375rem);
      column-gap: clamp(.75rem ,-12.9084265379rem + 22.0301643789vw ,2.375rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.75rem ,-12.9084265379rem + 22.0301643789vw ,2.375rem)) or (column-gap:clamp(0.75rem ,-12.9084265379rem + 22.0301643789vw ,2.375rem))) {
    .item-air-class__container {
      -webkit-column-gap: calc(.75rem + 1.625 * (100vw - 61.99875rem)/ 7.37625);
      -moz-column-gap: calc(.75rem + 1.625 * (100vw - 61.99875rem)/ 7.37625);
      column-gap: calc(.75rem + 1.625 * (100vw - 61.99875rem)/ 7.37625)
    }
  }
  @supports (padding-top:clamp(2rem ,-15.3356952211rem + 27.9613624809vw ,4.0625rem)) {
    .item-air-class__container {
      padding-top: clamp(2rem ,-15.3356952211rem + 27.9613624809vw ,4.0625rem)
    }
  }
  @supports not (padding-top:clamp(2rem ,-15.3356952211rem + 27.9613624809vw ,4.0625rem)) {
    .item-air-class__container {
      padding-top: calc(2rem + 2.0625 * (100vw - 61.99875rem)/ 7.37625)
    }
  }
  @supports (padding-bottom:clamp(2rem ,-15.3356952211rem + 27.9613624809vw ,4.0625rem)) {
    .item-air-class__container {
      padding-bottom: clamp(2rem ,-15.3356952211rem + 27.9613624809vw ,4.0625rem)
    }
  }
  @supports not (padding-bottom:clamp(2rem ,-15.3356952211rem + 27.9613624809vw ,4.0625rem)) {
    .item-air-class__container {
      padding-bottom: calc(2rem + 2.0625 * (100vw - 61.99875rem)/ 7.37625)
    }
  }
}
@media (min-width:61.99875em) and (min-width:61.99875em) and (max-width:69.375em) {
  @supports (flex-basis:clamp(30.5625rem ,-21.9699097611rem + 84.7314014574vw ,36.8125rem)) {
    .item-air-class__img {
      flex-basis: clamp(30.5625rem ,-21.9699097611rem + 84.7314014574vw ,36.8125rem)
    }
  }
  @supports not (flex-basis:clamp(30.5625rem ,-21.9699097611rem + 84.7314014574vw ,36.8125rem)) {
    .item-air-class__img {
      flex-basis: calc(30.5625rem + 6.25 * (100vw - 61.99875rem)/ 7.37625)
    }
  }
}
@media (min-width:61.99875em) and (max-width:61.99875em) {
  .item-air-class__img {
    flex-basis: 30.5625rem
  }
}
@media (any-hover:hover) {
  .inputs-form__switch:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border-color: #656293
  }
  .top-footer__logo:hover svg {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  .top-footer__logo:hover span {
    color: #e5f4f6
  }
  .bottom-footer__item:hover {
    color: #e5f4f6
  }
  .item-charter__img-link:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  .item-charter__title-link:hover {
    font-weight: 700;
    color: #656293
  }
  .item-membership__btn:hover {
    background-color: #000;
    color: #fff
  }
  ._active .item-membership__btn:hover {
    background-color: #000;
    color: #fff
  }
}